<%= render 'shared/topbar' %>

<div class="content-wrapper">
  <%= month_calendar(events: @waterings) do |date, waterings| %>
    <%= date %>
    
    <% waterings.each do |watering| %>
      <div class="watering">
        <%= watering.ownership.plant.name %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'shared/bottombar' %>