<%= render 'shared/topbar' %>

<div class="content-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="headtitle">
          L'encyclopédie des plantes
        </div>

        <%= link_to plants_path(category: "Intérieures") do %>
          <div class="card" id="interieures">
            <div class="bigwhitetitle">
              Intérieures
            </div>
          </div>
        <% end %>

        <div class="mb-5">
          <div class="darktitle" style="text-align: center; margin: 20px;" id="incontournables">
            Les incontournables
          </div>

          <div class="d-flex mb-5" id="alocasia-sanderiana">
            <div class="darklighttext plant-description">
              L'<strong>Alocasia Sanderiana</strong>, ou oreille d'éléphant, orne très bien les petits salons
            </div>
            <!-- Button trigger modal -->
            <div data-toggle="modal" data-target="#newPlantToLocationModalAlocasia">
              <% alocasia = @plants.select { |plant| plant.name == "alocasia_sanderiana" }.first %>
              <%= image_tag alocasia.image, class: "plant-image" %>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="newPlantToLocationModalAlocasia" tabindex="-1" role="dialog" aria-labelledby="newPlantToLocationModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content card">
                  <div class="modal-header">
                    <div class="fatdarktitle" id="newPlantToLocationModalLabel"><%= alocasia.name %></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'shared/plant', locations: @locations, plant: alocasia, ownership: @ownership, index: "alocasia" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex mb-5" id="philodendron">
            <!-- Button trigger modal -->
            <div data-toggle="modal" data-target="#newPlantToLocationModalPhilodendron">
              <% philodendron = @plants.select { |plant| plant.name == "philodendron" }.first %>
              <%= image_tag philodendron.image, class: "plant-image" %>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="newPlantToLocationModalPhilodendron" tabindex="-1" role="dialog" aria-labelledby="newPlantToLocationModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content card">
                  <div class="modal-header">
                    <div class="fatdarktitle" id="newPlantToLocationModalLabel"><%= philodendron.name %></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'shared/plant', locations: @locations, plant: philodendron, ownership: @ownership, index: "philodendron" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="darklighttext" style="text-align: left;">
              Le <strong>philodendron</strong> est une très belle plante d’intérieur au feuillage décoratif et facile d’entretien.
            </div>
          </div>

          <div class="d-flex mb-5" id="ficus">
            <div class="darklighttext plant-description">
              Cousin du figuier, le <strong>Ficus</strong> est une très belle plante verte par ses grandes feuilles vert brillant.
            </div>
            <!-- Button trigger modal -->
            <div data-toggle="modal" data-target="#newPlantToLocationModalFicus">
              <% ficus = @plants.select { |plant| plant.name == "ficus-lyrata" }.first %>
              <%= image_tag ficus.image, class: "plant-image" %>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="newPlantToLocationModalFicus" tabindex="-1" role="dialog" aria-labelledby="newPlantToLocationModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content card">
                  <div class="modal-header">
                    <div class="fatdarktitle" id="newPlantToLocationModalLabel"><%= ficus.name %></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'shared/plant', locations: @locations, plant: ficus, ownership: @ownership, index: "ficus" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <%= link_to plants_path(category: "Aromatiques") do %>
          <div class="card" id="aromatiques">
            <div class="bigwhitetitle">
              Aromatiques
            </div>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>

<%= render 'shared/bottombar' %>