<div data-refresh-list-target="list">
  <div class="category-title">
    <div class="fatdarktitle">
      <%= @plants.length %> plantes trouvées
    </div>
  </div>

  <div class="grid">
    <% @plants.each_with_index do |plant, index| %>
      <div class="card card-plant p-0">
        <!-- Button trigger modal -->
        <div data-toggle="modal" data-target="#newPlantToLocationModal<%=index%>">
          <div class="whitetext text-link" id="plant-name">
            <%= plant.nickname %>
          </div>
          <%= image_tag plant.image, class: "plant-image-small" %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="newPlantToLocationModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="newPlantToLocationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="fatdarktitle" id="newPlantToLocationModalLabel<%=index%>"><%= plant.name %></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="plant-header">
                  <%= image_tag plant.image, class: "plant-image-big" %>
                  <div class="plant-stats">
                    <div class="darktitle" style="flex-grow: 1;">
                      <%= plant.nickname %>
                    </div>
                    <div class="darktext">
                      <strong>Categorie:</strong> <%= plant.category %>
                    </div>
                    <div class="darktext">
                      <strong>Taille:</strong> <%= plant.height %>
                    </div>
                    <div class="darktext">
                      <strong>Exposition:</strong> <%= plant.exposure %>
                    </div>
                  </div>
                </div>

                <div class="small-button-circle scrolldown">
                  <i class="fas fa-sort-down"></i>
                </div>

                <div class="plant-content ">
                  <div class="darktext">
                    <%= plant.description %>
                  </div>
                </div>

                <%= simple_form_for @ownership, url: plant_ownerships_path(plant), method: "POST" do |f| %>
                  <div class="card form" id="add-plant">
                    <div class="darktitle mb-2">
                      <%= plant.nickname %>
                    </div>
                    <div class="darktext">
                      <strong> Où mettre cette plante?</strong>
                    </div>
                    <%= f.input :location_id, collection: @locations, input_html: { id: "select2#{index}1", style: "width: 100%" }, label: false %>
                    <div class="darktext">
                      <strong>Date d'acquisition</strong>                    
                    </div>
                    <%= f.input :start_time, as: :string, input_html: { class: "datepicker" }, label: false %>
                    <div class="darktext">
                      <strong>Fréquence d'arrosage souhaité</strong>                    
                    </div>
                    <%= f.input :watering_frequency, :collection => Ownership::FREQUENCY, input_html: { id: "select2#{index}2", style: "width: 100%" }, label: false %>
                    <%= f.button :submit, "Ajouter", class: "button" %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
