<%= render 'shared/topbar' %>

<div class="content-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="search-bar" data-controller="refresh-list">
          <%= form_with url: plants_path, method: :get, html: { data: { refresh_list_target: 'form' } } do |f| %>
              <%= f.text_field :query,
                                class: "form-control", 
                                placeholder: "Search a plant", 
                                value: params[:query],
                                data: {
                                  refresh_list_target: 'searchInput',
                                  action: "keyup->refresh-list#update",
                                } %>
          <% end %>
        </div>

        <div data-refresh-list-target="list">
          <%= render 'list', plants: @plants %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>