<%= render 'shared/topbar' %>

<div class="content-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div data-controller="refresh-list">
          <%= form_with url: plants_path, method: :get, remote: true, html: { class: "search-bar", data: { refresh_list_target: 'form' } } do |f| %>
              <%= f.text_field :search,
                                class: "search-bar-item", 
                                placeholder: "Search a plant", 
                                value: params[:search],
                                data: {
                                  refresh_list_target: 'searchInput',
                                  action: "keyup->refresh-list#update",
                                } %>
          <% end %>

          <%= form_with url: plants_path, method: :get, remote: true, html: { class: "search-bar search-bar-bottom", data: { refresh_list_target: 'form' } } do |f| %>
              <%= f.text_field :search,
                                class: "search-bar-item", 
                                placeholder: "Search a plant", 
                                value: params[:search],
                                data: {
                                  refresh_list_target: 'searchInput',
                                  action: "keyup->refresh-list#update",
                                } %>
          <% end %>

          <%= render 'list', plants: @plants %>

        </div>

      </div>

    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>