<%= render 'shared/topbar' %>

<div class="content-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div data-controller="refresh-list">
          <div class="search-bar">
            <%= form_with url: plants_path, method: :get, remote: true, html: { data: { refresh_list_target: 'form' } } do |f| %>
                <%= f.text_field :search,
                                  class: "search-bar-item", 
                                  style: "border-right: 1px solid rgb(226, 225, 225);",
                                  placeholder: "Recherche", 
                                  value: params[:search],
                                  data: {
                                    refresh_list_target: 'searchInput',
                                    action: "keyup->refresh-list#update",
                                  } %>
            <% end %>

            <%= form_tag plants_path, method: :get do %>
              <div class="d-flex">
                <div class="search-bar-item search-bar-select">
                  <%= select_tag :category,
                    options_for_select(Plant::CATEGORY, selected: params[:category]),
                    id: 'select2category'
                  %>
                </div>
                <button name="button" type="submit" class="button small-button-circle">
                  <i class="fas fa-leaf"></i>
                </button>
              </div>
            <% end %>
          </div>

          <div class="category-title">
            <div class="fatdarktitle">
              <%= @plants.length %> plantes trouvées
            </div>
          </div>

          <%= render 'list' %>

        </div>

      </div>

    </div>
  </div>
</div>

<%= render 'shared/bottombar' %>