<%= simple_form_for location do |f| %>
  <div style="margin: 15px;">
    <div class="darktext">
      <strong>Nom de l'emplacement</strong>
    </div>
    <%= f.input :name, label: false %>
    <div class="d-flex justify-content-around">
      <div>
        <div class="darktext">
          <strong>Situation</strong>
        </div>
        <%= f.input :category, :collection => Location::CATEGORY, as: :radio_buttons %>
      </div>
      <div>
        <div class="darktext">
          <strong>Luminosité</strong>
        </div>
        <%= f.input :brightness, :collection => Location::BRIGHTNESS, as: :radio_buttons %>
      </div>
    </div>
    <%= f.button :submit, "Ajouter l'emplacement", class: "button" %>
  </div>
<% end %>