<%= simple_form_for location do |f| %>
  <div style="margin: 15px;">
    <%= f.input :name, prompt: "Choose a name" %>
    <div class="d-flex justify-content-around">
      <div class="darktext">
        Situation
      </div>
      <%= f.input :category, :collection => Location::CATEGORY, as: :radio_buttons, label: false %>
      <div class="darktext">
        Luminosité
      </div>
      <%= f.input :brightness, :collection => Location::BRIGHTNESS, as: :radio_buttons, label: false %>
    </div>
    <%= f.submit class: "button" %>
  </div>
<% end %>