<%= render 'shared/topbar' %>

<div class="content-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <% @locations.each_with_index do |location, index1| %>
          <div class="card card-location">
            <div class="location-header">
              <div>
                <div class="darktitle">
                  <%= location.name.capitalize %> 
                </div>
                <%# <div class="darktext"> %>
                  <%# <% plantes = location.ownerships.length > 1 ? "plantes" : "plante" %>
                  <%# <%= location.ownerships.length <%= plantes %>
                <%# </div> %>
              </div>
              <div class="category-brightness">
                <% case location.category %>
                <% when "Intérieur" %>
                <i class="fas fa-door-closed"></i>
                <% when "Extérieur" %>
                <i class="fas fa-door-open"></i>
                <% end %>
                <% case location.brightness %>
                <% when "Basse" %>
                <i class="fas fa-cloud"></i>
                <% when "Moyenne" %>
                <i class="fas fa-cloud-sun"></i>
                <% when "Haute" %>
                <i class="fas fa-sun"></i>
                <% end %>
              </div>
            </div>
            <div class="dropdown-location">
              <div class="small-button-circle location-modify">
                <i class="fas fa-wrench"></i>
              </div>
            </div>
            <div class="carousel">
              <ul class="carousel-container sortable" >
                <% location.ownerships.each_with_index do |ownership, index2| %>
                  <li>
                     <!-- Button trigger modal -->
                    <div data-toggle="modal" data-target="#plantOwned<%=index1 + 1%><%=index2%>">
                      <%= image_tag ownership.plant.image, class: "plant-image-round" %>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="plantOwned<%=index1 + 1%><%=index2%>" role="dialog" aria-labelledby="plantOwnedLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content card">
                          <div class="modal-header">
                            <div class="fatdarktitle" id="plantOwnedLabel"><%= ownership.plant.name %></div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= render 'plantowned', plant: ownership.plant, ownership: ownership, index: "#{index1 + 1}#{index2}" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <!-- Button trigger modal -->
      <div class="button" id="add-location" data-toggle="modal" data-target="#newLocationModal">
        <i class="fas fa-plus"></i>
      </div>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar' %>

<!-- Modal -->
<div class="modal fade" id="newLocationModal" tabindex="-1" role="dialog" aria-labelledby="newLocationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card" style="height: auto;">
      <div class="modal-header">
        <div class="fatdarktitle" id="newLocationModalLabel">Add a location</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'location-form', location: @location %>
      </div>
    </div>
  </div>
</div>